<% content_for :title, "New recurring expense" %>

<h1>New recurring expense</h1>

<%= render "form", recurring_expense: @recurring_expense %>

<br>

<div>
  <%= link_to "Back to recurring expenses", recurring_expenses_path %>
</div>
